*{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-fill-color: silver;
}

main {
    margin: 25px;
}

a {
    text-decoration: none;
}

nav{
    font-weight: bold;
}

#headervp {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    background-color: black;
    background-size: contain;
}

h1 {
    text-align: center;
    font-size: 50pt;
    font-family: "cursive", "brush script MT";
    height: 20px;
    border: 0px solid black;
    margin-top: 15px;
}

#links {
    width: 850px;
    height: 35px;
    display:inline;
}

footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.contentdisplay {
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-top: 100px;
}
