img {
    display: block;
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#headervp {
    position:sticky;
    top: 0;
}

a {
    text-decoration: none;
}

main {
    margin: 25px;
}
body {
    width: 100%;
    max-width: 900px;
  }

  li {
    list-style-type: none;
  }

h1 {
    text-align: center;
    font-size: 50pt;
    font-family: "cursive", "brush script MT";
    height: 20px;
    border: 0px solid black;
    margin-top: 15px;
}
h2 {
    text-align: center;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0pt;
}

*{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-fill-color: silver;
}
h3, h4, h5 {
    margin-bottom: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}
p {
    margin-top: 0%;
    font-size: 11pt;
    font-family:'Courier New', Courier, monospace;
}
footer{
    text-align: center;
    width: 100%;
     bottom: 0;
}

.imgf {
    height: 140px;
    width: 115px;
}

#sldisplay {
flex: 0 0 calc(33.33% - 20px);
max-width; calc(33.33% - 20px);
margin-bottom: 20px;
}

.valueprop {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800;
}

#vpddisplay {
    max-width: 800;
}

.oscontainer {
    display:flex;
    
    justify-content: space-between;
    max-width: 800;
   
}

.featuredcontent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800;
}

#links {
    width: 850px;
    height: 35px;
    display:inline;
}

.imgf {
    margin: 0px;
    padding: 5px;
}

#sddisplay {
flex: 0 0 calc(50% - 20px);
max-width; calc(33.33% - 20px);
margin-bottom: 20px;
}

.aucontainer {
    display:flex;
    max-width: 800;
    justify-content: space-between;
}

#auidisplay {
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 20px);
    max-width; calc(50% - 20px);
}
#aupdisplay {
   flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 20px);
    max-width; calc(50% - 20px);
}
@media  screen and (max-width:768px) {
    main {
        font-size: 16px;
        width: 100px;
        background-color: black;
    } 
}

@media  screen and (min-width: 769) and (max-width:1024px) {
    main {
        font-size: 18px;
        width: 100px;
        background-color: black;
    } 
}

@media  screen and (min-width: 1025px) {
    main {
        font-size: 20px;
        width: 100px;
        background-color: black;
    }
}