* { 
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-fill-color: silver;
}

main {
    justify-content: center;
    margin: 25px;
}

body {
    width: 100%;
    max-width: 900px;
  }

  .headernav {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    background-color: black;
    background-size: contain;
}

h1 {
    text-align: center;
    font-size: 60pt;
    font-family: "cursive", "brush script MT";
    height: 20px;
    border: 0px solid black;
    margin-left: 40px;
    margin-top: 15px;
}

nav {
    font-weight: bold;
}

li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
}

h2 {
    text-align: center;
    justify-content: center;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0pt;
}

img {
    display: flex;
    height: 375px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: center;
}

.valueprop {
    display:flex;
    justify-content: space-between;
    max-width: 800px;
}

#vpddisplay {
    max-width: 800px;
}

h3, h4, h5 {
    margin-bottom: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}

p {
    margin-top: 0%;
    font-size: 11pt;
    font-family:'Courier New', Courier, monospace;
}

.oscontainer {
    display:flex;
    justify-content: space-between;
    max-width: 800px;  
}

#sldisplay {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 20px;
    font-weight:bold;
}

#sddisplay {
    display: flex;
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    font-weight: normal;
}
        
.featuredcontent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800;
}

#watchnow {
    font-weight: bold;
    text-decoration: underline;
}

.aucontainer {
    display:flex;
    max-width: 800;
    justify-content: space-between;
}
        
.imgf {
    height: 140px;
    width: 115px;
    margin: 0px;
    padding: 5px;
}

#auidisplay {
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
}
      
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

#links {
    width: 850px;
    height: 35px;
    display:inline;
}

@media  screen and (min-width:320px) and (max-width: 480px) {
    main, h1, nav, footer, p{
        font-size: 75%;
        width: 75%;
    } 
}

@media  screen and (min-width:481px) and (max-width: 768px) {
    main, nav, footer, p{
        font-size: 100%;
        width: 100%;
    } 
}

@media  screen and (min-width: 769) and (max-width:1024px) {
    main, nav, footer, p{
        font-size: 100%;
        width: 100%;
    } 
}

@media  screen and (min-width: 1025) and (max-width:1200px) {
    main, nav, footer, p{
        font-size: 120%;
        width: 120%;
    } 
}
